{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Till web user — {{object.get_full_name}}{% endblock %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "User list" "userlist" %}
{% breadcrumb formuser "userdetail" formuser.id %}
{% endblock %}

{% block content %}
<main class="container">

<form method="post" action="">
  {% csrf_token %}
  {% include "form-horizontal.html" %}
  <fieldset{% if formuser.is_staff or formuser.is_superuser%} disabled{% endif %}>
    <button class="btn btn-primary" type="submit" name="update">Update</button>
    <button class="btn btn-danger" type="submit" name="delete">Delete</button>
  </fieldset>
</form>
</main>
{% endblock %}
